#home-background {
	background-color: #323dbc;
	height: 100vh;
	width: 100vw;
	animation-name: fadeIn;
	animation-duration: 6s;
}

@keyframes fadeIn {
	0% { opacity: 0 }

	100% { opacity: 1 }
}

#home-logo {
	height: 30%;
	width: 70%;
	margin-left: 16%;
	position: relative;
	bottom: 45px;
}

#navbar {
	background-color: #3F447F;
}

#linkedin {
	height: 50px;
	width: 50px;
	position: relative;
	top: 7px;
}

img {
	width: 400px ;
	height: 400px;
}

#grantanswers {
	display: inline-block;
	margin-left: 7%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#grid-2 {
	display: inline-block;
	margin-left: 2%;
	text-align: center;
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#grid-3 {
	display: inline-block;
	margin-left: 2%;
	text-align: center;
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}

h5 {
	text-align: center;
	color: white;
}

h4 {
	text-align: center;
	color: white;
}